@import url('https://fonts.googleapis.com/css?family=Tajawal');

/* PAGE */
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url("./assets/gradient_background.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.logoContainer {
  position: absolute;
  left: 10px;
  top: 10px;
}

.logoImage {
  width: 50px;
  height: 50px;
}

.headerText {
  color: white;
  font-family: 'Tajawal', sans-serif;
}

.startStakingButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-radius: 25px;
  border-color: white;
  color: white;
  background-color: transparent;
  height: 55px;
  width: 200px;
  transition: all 0.25s ease-in-out;
}

.buttonText {
  font-size: 1.2em;
}

.startStakingButton:hover {
  background-color: black;
  color: white;
}

.formInputStyle {
  height: 20px;
  padding: 15px;
  margin-bottom: 15px;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #01AA92;
  color: #01AA92;
  font-family: "BrandonGrotesque Regular";
  outline: none !important;
}